

<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <button ngbDropdownItem (click)="logout()">Log ud</button>
        </div>      
      </li>      
    </div>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="searchText" name="searchText"/>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (keyup.enter)="searchClick()"  (click)="searchClick()">Søg</button>      
  </form>
</nav>

