
<nav class="navbar navbar-dark bg-dark fixed-top">
<!-- <nav class="navbar navbar-dark bg-dark mb-5"> -->
  <div class="navbar-expand mr-auto">   
  </div>
  <form class="form-inline">
    <input  type="search" placeholder="Søg.." [(ngModel)]="searchText" name="searchText"/>
    <button type="submit" class="mr-2" (keyup.enter)="searchClick()"  (click)="searchClick()"><i class="fa fa-search"></i></button>
    <button type="button" class="btn btn-primary btn-sm" (click)="logout()">
        <fa-icon [icon]="logOutIcon"></fa-icon>
    </button>     
  </form>
</nav>