<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <!-- <div class="card-footer text-muted text-nowrap">-->
  <!-- <div class="col-xs-12 col-lg-12">
    <div class="row">
      <div class="col-xs-4 col-lg-4"></div>
      <div class="col-xs-4 col-lg-4">
        <div class="navbar-expand m-auto navbar-text">
          Made with <i class="fa fa-heart"></i> by Steen
        </div>
      </div>
      <div class="col-xs-4 col-lg-4 ">
        <div class="navbar-text pull-right">{{wineInfo}}</div>
      </div>
    </div>
  </div> -->
  <div class="navbar-expand mr-auto"> </div>
    <form class="form-inline">
        <div class="navbar-text pull-right">{{wineInfo}}</div>
    </form>
</nav>
<!-- <div class="card-footer text-muted text-nowrap">
 
</div>  -->
<!-- <nav class="navbar navbar-dark bg-dark mb-5">
      <div class="navbar-expand mr-auto">       
      </div>
      <form class="form-inline">
          <div class="navbar-text pull-right">{{wineInfo}}</div>
      </form>
    </nav> -->