<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="col-xs-12 col-lg-12">    
    <div class="row">
      <div class="col-xs-5 col-lg-5">        
        <!--<div class="row">
    <div class="col-xs-2 col-lg-2">
      <ngb-alert *ngIf="errorMessage" type="danger" [dismissible]="false">{{ errorMessage }}</ngb-alert>
    </div>
    <div class="col-xs-2 col-lg-2">
      <ngb-alert *ngIf="errorMessage" type="danger" [dismissible]="false">{{ errorMessage }}</ngb-alert>
    </div>
  </div>-->
      </div>
      <div class="col-xs-5 col-lg-5">
        <div class="navbar-expand m-auto navbar-text">
          Made with <i class="fa fa-heart"></i> by Steen          
        </div>
      </div>
      <div class="col-xs-2 col-lg-2 ">
        <div class="navbar-text pull-right">{{wineInfo}}</div>
        <!--<span class="navbar-text">
        {{wineInfo}}
      </span>-->
      </div>
      <!--<div class="row">
    <div class="col-xs-5 col-lg-">

    </div>-->
    </div>
  </div>
</nav>