<div>
  <div class="row">
    <div class="col-sm-12 btn btn-primary">
      Image Gallery
    </div>
  </div>
  <div class="row" style="margin-top:10px;margin-bottom: 10px;">  
    <div class="col-sm-2">
      <form class="form-inline">
        
        <div class="form-group mx-sm-2 mb-2">          
          <input type="text" class="form-control form-control-sm" placeholder="soeg" name="soeg"[(ngModel)]="searchText">
          <button type="button" class="btn btn-sm btn-primary hidden-xs ml-2" (click)="soeg()" >Søg</button>
        </div>      
      </form>
   </div>
  </div>
 
  <div class="row">          
      <ul>    
        <li *ngFor="let img of (allImages )">  
          <a>    
            <img src="{{img.urlResized}}" class="img" width="100" height="100" (click)="imageClick(img)" ngbTooltip="{{img.imageName}}">    
          </a>
        </li>    
      </ul>    
    </div>    
</div>