:root{

    --brand-blue-gradient-top: 4, 122, 192;
    --brand-blue-gradient-bottom: 41, 106, 167; 

    --brand-green-gradient-top: 20, 175, 61;
    --brand-green-gradient-bottom: 3, 146, 36; 
    
    --brand-shadegray-gradient-top: 160, 160, 160;
    --brand-shadegray-gradient-bottom: 119, 119, 122; 
}