<!-- https://www.youtube.com/watch?v=c61wr1ZsHzY -->
<div class="container-fluid">
  <div class="modal-header">
    <h5 class="modal-title">Tilføj foto</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-image-gallery></app-image-gallery>  
  <div class="rov">
    <div class="col-xs-12 col-lg-12">
      <div class="row mt-4 mb-4">
        <div class="col-xs-3 col-lg-3">
          <form #imageForm=ngForm>
            <img [src]="imageUrl" style="width:100px; height: 100px">
          </form>
        </div>
        <div class="col-xs-8 col-lg-8">       
          <input type="file" accept="image/*" (change)="onFileSelected($event.target.files)" style="visibility:hidden;">
          <label for="file" class="btn btn-sm btn-secondary">Vælg foto...</label>
          <input id="file" style="visibility:hidden;" type="file" accept="image/*"(change)="onFileSelected($event.target.files)">
        </div>       
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" *ngIf="selectedFile" class="btn btn-sm btn-danger" data-dismiss="modal">Slet</button> -->
    <button type="button" class="btn btn-sm btn-primary hidden-xs" data-toggle="modal"
      (click)="uploadFoto()">Ok</button>
    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" (click)="clearImage()">Annuller</button>
  </div>
</div>