<div style="height: 97%">  
  <div style="height: 8%">
    <app-header></app-header>
  </div>
  <div class="container-fluid " style="height: 82%">   
    <router-outlet>
      <!-- <app-layout></app-layout>     -->
   </router-outlet>
    <!-- <ng-content></ng-content>     -->
    <!-- <router-outlet></router-outlet> -->
  </div>
  <app-footer></app-footer>  
</div>

<!-- <app-layout>
  <app-list></app-list>
</app-layout> -->

<!-- <router-outlet>
    <app-layout></app-layout>     
</router-outlet> -->