<div class="container-fluid">
    <div class="tableListView row">
        <div class="col-xs-12 col-lg-12">
            <div class="row">
                <div class="col-xs-2 col-lg-2">
                    <h2>Vinliste</h2>
                </div>
                <div class="col-xs-10 col-lg-10">
                    <div class="row justify-content-end">
                        <div class="col-xs-12 col-lg-12 d-flex" style="padding-right: 0px;">
                            <label style="margin: auto 0 auto auto;">
                            <input type="checkbox" value="" class="check-space">Medtag historik</label>
                            <button type="button" class="btn btn-success d-flex ml-3">
                                <i class="fa fa-file-excel-o mr-2"></i>
                                <span class="badge">Eksport til Excel</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-xs-12 col-lg-12">
        <jqxGrid #myGrid [width]="getWidth()" [height]="getHeight()" [source]="dataAdapter" [columns]="columns"
            [columnsresize]="true" [filterable]="true" [sortable]="true" [autoshowfiltericon]="true"
            [localization]="localization">
        </jqxGrid>
    </div> -->
</div>
